[submodule "SDK/driver/screwdriver/SimpleScrewdriver"]
	path = SDK/driver/screwdriver/SimpleScrewdriver
	url = https://github.com/UniversalRobots/SimpleScrewdriver.git
[submodule "SDK/driver/screwdriver/CustomScrewdriver"]
	path = SDK/driver/screwdriver/CustomScrewdriver
	url = https://github.com/UniversalRobots/CustomScrewdriver.git
[submodule "SDK/driver/screwdriver/AdvancedScrewdriver"]
	path = SDK/driver/screwdriver/AdvancedScrewdriver
	url = https://github.com/UniversalRobots/AdvancedScrewdriver.git
[submodule "SDK/driver/gripper/SimpleGripper"]
	path = SDK/driver/gripper/SimpleGripper
	url = https://github.com/UniversalRobots/SimpleGripper.git
[submodule "SDK/driver/gripper/CustomGripperSetup"]
	path = SDK/driver/gripper/CustomGripperSetup
	url = https://github.com/UniversalRobots/CustomGripperSetup.git
[submodule "SDK/driver/gripper/AdvancedGripper"]
	path = SDK/driver/gripper/AdvancedGripper
	url = https://github.com/UniversalRobots/AdvancedGripper.git
[submodule "SDK/driver/general/CustomUserInput"]
	path = SDK/driver/general/CustomUserInput
	url = https://github.com/UniversalRobots/CustomUserInput.git
[submodule "SDK/html/CoordinateMapHTML"]
	path = SDK/html/CoordinateMapHTML
	url = https://github.com/UniversalRobots/CoordinateMapHTML.git
[submodule "SDK/html/CycleCounterHTML"]
	path = SDK/html/CycleCounterHTML
	url = https://github.com/UniversalRobots/CycleCounterHTML.git
[submodule "SDK/html/EllipseHTML"]
	path = SDK/html/EllipseHTML
	url = https://github.com/UniversalRobots/EllipseHTML.git
[submodule "SDK/html/HelloWorldHTML"]
	path = SDK/html/HelloWorldHTML
	url = https://github.com/UniversalRobots/HelloWorldHTML.git
[submodule "SDK/html/IdleTimeHTML"]
	path = SDK/html/IdleTimeHTML
	url = https://github.com/UniversalRobots/IdleTimeHTML.git
[submodule "SDK/html/LocalizationHTML"]
	path = SDK/html/LocalizationHTML
	url = https://github.com/UniversalRobots/LocalizationHTML.git
[submodule "SDK/html/MyDaemonHTML"]
	path = SDK/html/MyDaemonHTML
	url = https://github.com/UniversalRobots/MyDaemonHTML.git
[submodule "SDK/html/NodeOrderingHTML"]
	path = SDK/html/NodeOrderingHTML
	url = https://github.com/UniversalRobots/NodeOrderingHTML.git
[submodule "SDK/html/PickOrPlaceHTML"]
	path = SDK/html/PickOrPlaceHTML
	url = https://github.com/UniversalRobots/PickOrPlaceHTML.git
[submodule "SDK/html/ScriptFunctionHTML"]
	path = SDK/html/ScriptFunctionHTML
	url = https://github.com/UniversalRobots/ScriptFunctionHTML.git
