[submodule "SDK/driver/screwdriver/SimpleScrewdriver"]
	path = SDK/driver/screwdriver/SimpleScrewdriver
	url = https://github.com/UniversalRobots/SimpleScrewdriver.git
[submodule "SDK/driver/screwdriver/CustomScrewdriver"]
	path = SDK/driver/screwdriver/CustomScrewdriver
	url = https://github.com/UniversalRobots/CustomScrewdriver.git
[submodule "SDK/driver/screwdriver/AdvancedScrewdriver"]
	path = SDK/driver/screwdriver/AdvancedScrewdriver
	url = https://github.com/UniversalRobots/AdvancedScrewdriver.git
[submodule "SDK/driver/gripper/SimpleGripper"]
	path = SDK/driver/gripper/SimpleGripper
	url = https://github.com/UniversalRobots/SimpleGripper.git
[submodule "SDK/driver/gripper/CustomGripperSetup"]
	path = SDK/driver/gripper/CustomGripperSetup
	url = https://github.com/UniversalRobots/CustomGripperSetup.git
[submodule "SDK/driver/gripper/AdvancedGripper"]
	path = SDK/driver/gripper/AdvancedGripper
	url = https://github.com/UniversalRobots/AdvancedGripper.git
[submodule "SDK/driver/general/CustomUserInput"]
	path = SDK/driver/general/CustomUserInput
	url = https://github.com/UniversalRobots/CustomUserInput.git
[submodule "SDK/html/CoordinateMapHTML"]
	path = SDK/html/CoordinateMapHTML
	url = https://github.com/UniversalRobots/CoordinateMapHTML.git
[submodule "SDK/html/CycleCounterHTML"]
	path = SDK/html/CycleCounterHTML
	url = https://github.com/UniversalRobots/CycleCounterHTML.git
[submodule "SDK/html/EllipseHTML"]
	path = SDK/html/EllipseHTML
	url = https://github.com/UniversalRobots/EllipseHTML.git
[submodule "SDK/html/HelloWorldHTML"]
	path = SDK/html/HelloWorldHTML
	url = https://github.com/UniversalRobots/HelloWorldHTML.git
[submodule "SDK/html/IdleTimeHTML"]
	path = SDK/html/IdleTimeHTML
	url = https://github.com/UniversalRobots/IdleTimeHTML.git
[submodule "SDK/html/LocalizationHTML"]
	path = SDK/html/LocalizationHTML
	url = https://github.com/UniversalRobots/LocalizationHTML.git
[submodule "SDK/html/MyDaemonHTML"]
	path = SDK/html/MyDaemonHTML
	url = https://github.com/UniversalRobots/MyDaemonHTML.git
[submodule "SDK/html/NodeOrderingHTML"]
	path = SDK/html/NodeOrderingHTML
	url = https://github.com/UniversalRobots/NodeOrderingHTML.git
[submodule "SDK/html/PickOrPlaceHTML"]
	path = SDK/html/PickOrPlaceHTML
	url = https://github.com/UniversalRobots/PickOrPlaceHTML.git
[submodule "SDK/html/ScriptFunctionHTML"]
	path = SDK/html/ScriptFunctionHTML
	url = https://github.com/UniversalRobots/ScriptFunctionHTML.git
[submodule "SDK/swing/CreateFeatureSwing"]
	path = SDK/swing/CreateFeatureSwing
	url = https://github.com/UniversalRobots/CreateFeatureSwing.git
[submodule "SDK/swing/CycleCounterSwing"]
	path = SDK/swing/CycleCounterSwing
	url = https://github.com/UniversalRobots/CycleCounterSwing.git
[submodule "SDK/swing/EllipseSwing"]
	path = SDK/swing/EllipseSwing
	url = https://github.com/UniversalRobots/EllipseSwing.git
[submodule "SDK/swing/GripAndReleaseSwing"]
	path = SDK/swing/GripAndReleaseSwing
	url = https://github.com/UniversalRobots/GripAndReleaseSwing.git
[submodule "SDK/swing/HelloWorldSwing"]
	path = SDK/swing/HelloWorldSwing
	url = https://github.com/UniversalRobots/HelloWorldSwing.git
[submodule "SDK/swing/IdleTimeSwing"]
	path = SDK/swing/IdleTimeSwing
	url = https://github.com/UniversalRobots/IdleTimeSwing.git
[submodule "SDK/swing/LocalizationSwing"]
	path = SDK/swing/LocalizationSwing
	url = https://github.com/UniversalRobots/LocalizationSwing.git
[submodule "SDK/swing/MoveUntilDetectionSwing"]
	path = SDK/swing/MoveUntilDetectionSwing
	url = https://github.com/UniversalRobots/MoveUntilDetectionSwing.git
[submodule "SDK/swing/MyDaemonSwing"]
	path = SDK/swing/MyDaemonSwing
	url = https://github.com/UniversalRobots/MyDaemonSwing.git
[submodule "SDK/swing/MyToolbar"]
	path = SDK/swing/MyToolbar
	url = https://github.com/UniversalRobots/MyToolbar.git
[submodule "SDK/swing/NodeOrderingSwing"]
	path = SDK/swing/NodeOrderingSwing
	url = https://github.com/UniversalRobots/NodeOrderingSwing.git
[submodule "SDK/swing/PickOrPlaceSwing"]
	path = SDK/swing/PickOrPlaceSwing
	url = https://github.com/UniversalRobots/PickOrPlaceSwing.git
[submodule "SDK/swing/ScriptFunctionSwing"]
	path = SDK/swing/ScriptFunctionSwing
	url = https://github.com/UniversalRobots/ScriptFunctionSwing.git
[submodule "SDK/swing/ToolChangerSwing"]
	path = SDK/swing/ToolChangerSwing
	url = https://github.com/UniversalRobots/ToolChangerSwing.git
[submodule "SDK/swing/ToolIOControlSwing"]
	path = SDK/swing/ToolIOControlSwing
	url = https://github.com/UniversalRobots/ToolIOControlSwing.git
[submodule "SDK/swing/UserInput"]
	path = SDK/swing/UserInput
	url = https://github.com/UniversalRobots/UserInput.git
[submodule "URPlus Team/URCap_StyleGuide_Library"]
	path = URPlus Team/URCap_StyleGuide_Library
	url = https://github.com/thphr/URCap_StyleGuide_Library.git
